:root {
    --Headers: 'Playfair Display SC', serif;
    --UI: 'Poppins', sans-serif;
    --Body: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Headers);
}

button, .btn {
    font-family: var(--UI);
}

p, span, li, a, body {
    font-family: var(--Body);
}

/* Image Frame Effect */
.image-frame {
    display: inline-block;
    background-color: #ddc;
    border: solid 1.5rem #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.image-frame::before {
    border-radius: 2px;
    bottom: -0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25) inset;
    content: "";
    left: -0.5rem;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
}

.image-frame::after {
    border-radius: 2px;
    bottom: -0.75rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content: "";
    left: -0.75rem;
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
}

.image-frame img,
.image-frame video {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    max-height: 100%;
    max-width: 100%;
    display: block;
}