{% extends "theme/base.html" %}

{% block head_title %}Home - MIND//EMBODY//SPIRIT{% endblock head_title %}

{% block content %}
<section class="flex items-center justify-center h-screen">
    <div class="prose text-center">
        <h1>Welcome to MIND//EMBODY//SPIRIT (core)</h1>
        <p>Edit <code>static/css/styles.css</code> to customize styles for the site.</p>
        <p><a href="{% url 'account_login' %}">Sign in</a> or <a href="{% url 'account_signup' %}">Sign up</a>.</p>
    </div>
</section>
{% endblock content %}
